* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1200px;
    margin: auto;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

body {
    background-color: #f3f5f7;
}

.header {
    margin: 30px auto;
    height: 42px;
	border-radius: 20px;
    background-color: #fff;
}


.nav {
    float: left;
    margin-left: 185px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    padding: 0 40px;
    display: block;
    height: 42px;
    font-size: 18px;
    line-height: 42px;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
}